
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

#header-logo{
    margin-right: auto;
    margin-left: 300px;
}

.header-item-logo{
    font-size: 24px;
    font-weight: bold; 
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: bold; 
    color: #F9FAF8;
}

.left-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
}
.main-text-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding: 50px;
}

.main-img {
    width: 450px;
    height: auto;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-item-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 350px;
}

.btn{
    text-align: center;
    border-radius: 10px;
    border: #1F2937;
    font-family: sans-serif;
    font-weight: 900;
    color: #E5E7EB;
    max-width: 100px;
    height: 35px;
    background-color: #3882F6;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}